n8n-workflows/workflow-3-prescription-delivery.json
{
  "name": "Workflow 3 — Prescription Sent → Email Patient + Schedule Follow-up",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "prescription-sent",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000001",
      "name": "Webhook — Prescription Received",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "prescription-sent"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ received: true }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000002",
      "name": "Respond to Backend",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [480, 160]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "med-list",
              "name": "medications_html",
              "value": "={{ $json.medications.map((m, i) => `<li><strong>${m.drug_name}</strong> ${m.dosage} — ${m.frequency} for ${m.duration}</li>`).join('') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Format Medications List",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [480, 420]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.RESEND_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"{{ $env.CLINIC_FROM_EMAIL }}\",\n  \"to\": [\"{{ $('Webhook — Prescription Received').item.json.patient_email }}\"],\n  \"subject\": \"Your Prescription from {{ $('Webhook — Prescription Received').item.json.doctor_name }}\",\n  \"html\": \"<div style='font-family: Arial, sans-serif; max-width: 600px; margin: auto; padding: 30px;'><div style='background: #2563eb; color: white; padding: 20px; border-radius: 8px 8px 0 0;'><h2 style='margin:0'>Your Prescription is Ready</h2></div><div style='border: 1px solid #e2e8f0; border-top: none; padding: 25px; border-radius: 0 0 8px 8px;'><p>Dear {{ $('Webhook — Prescription Received').item.json.patient_name }},</p><p>Your prescription from <strong>{{ $('Webhook — Prescription Received').item.json.doctor_name }}</strong> has been generated.</p><div style='background: #f8fafc; padding: 15px; border-radius: 6px; margin: 20px 0;'><p style='margin:0 0 8px 0'><strong>Diagnosis:</strong> {{ $('Webhook — Prescription Received').item.json.diagnosis }}</p><strong>Medications:</strong><ul style='margin: 8px 0; padding-left: 20px;'>{{ $json.medications_html }}</ul>{{ $('Webhook — Prescription Received').item.json.follow_up_date ? '<p><strong>Follow-up Date:</strong> ' + $('Webhook — Prescription Received').item.json.follow_up_date + '</p>' : '' }}</div><p><a href='{{ $('Webhook — Prescription Received').item.json.pdf_download_url }}' style='display: inline-block; background: #2563eb; color: white; padding: 12px 24px; border-radius: 6px; text-decoration: none; font-weight: bold;'>Download PDF Prescription</a></p><p style='color: #9ca3af; font-size: 12px; margin-top: 20px;'>AI-assisted prescription system. Always consult your doctor with any concerns.</p></div></div>\"\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000004",
      "name": "Email Patient — Prescription",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 420]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Webhook — Prescription Received').item.json.follow_up_date }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000005",
      "name": "Has Follow-up Date?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [960, 420]
    },
    {
      "parameters": {
        "amount": "={{ \n  const followUpDate = new Date($('Webhook — Prescription Received').item.json.follow_up_date);\n  const reminderDate = new Date(followUpDate);\n  reminderDate.setDate(reminderDate.getDate() - 2);\n  reminderDate.setHours(9, 0, 0, 0);\n  const now = new Date();\n  const diff = Math.max(0, reminderDate - now);\n  return Math.floor(diff / 1000);\n}}",
        "unit": "seconds",
        "resume": "timeInterval"
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000006",
      "name": "Wait Until 2 Days Before Follow-up",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1200, 320]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.RESEND_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"{{ $env.CLINIC_FROM_EMAIL }}\",\n  \"to\": [\"{{ $('Webhook — Prescription Received').item.json.patient_email }}\"],\n  \"subject\": \"Follow-up Reminder — {{ $('Webhook — Prescription Received').item.json.doctor_name }}\",\n  \"html\": \"<div style='font-family: Arial, sans-serif; max-width: 600px; margin: auto; padding: 30px;'><div style='background: #7c3aed; color: white; padding: 20px; border-radius: 8px 8px 0 0;'><h2 style='margin:0'>📅 Follow-up Reminder</h2></div><div style='border: 1px solid #e2e8f0; border-top: none; padding: 25px; border-radius: 0 0 8px 8px;'><p>Dear {{ $('Webhook — Prescription Received').item.json.patient_name }},</p><p>This is a reminder that your follow-up appointment with <strong>{{ $('Webhook — Prescription Received').item.json.doctor_name }}</strong> is coming up in 2 days.</p><div style='background: #f5f3ff; border: 1px solid #c4b5fd; padding: 15px; border-radius: 6px; margin: 20px 0;'><p style='margin:0'><strong>Follow-up Date:</strong> {{ $('Webhook — Prescription Received').item.json.follow_up_date }}</p><p style='margin: 8px 0 0 0; color: #6b7280;'>Original diagnosis: {{ $('Webhook — Prescription Received').item.json.diagnosis }}</p></div><p>Would you like to book your follow-up appointment?</p><a href='{{ $env.FRONTEND_URL }}/book' style='display: inline-block; background: #7c3aed; color: white; padding: 12px 24px; border-radius: 6px; text-decoration: none; font-weight: bold;'>Book Follow-up Appointment</a></div></div>\"\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000007",
      "name": "Email Patient — Follow-up Reminder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1440, 320]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook — Prescription Received": {
      "main": [
        [
          {
            "node": "Respond to Backend",
            "type": "main",
            "index": 0
          },
          {
            "node": "Format Medications List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Medications List": {
      "main": [
        [
          {
            "node": "Email Patient — Prescription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Patient — Prescription": {
      "main": [
        [
          {
            "node": "Has Follow-up Date?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Follow-up Date?": {
      "main": [
        [
          {
            "node": "Wait Until 2 Days Before Follow-up",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Wait Until 2 Days Before Follow-up": {
      "main": [
        [
          {
            "node": "Email Patient — Follow-up Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "workflow-003-prescription-delivery",
  "tags": [
    { "name": "healthcare" },
    { "name": "prescriptions" }
  ]
}
